<body class="botones_servicios">
<nav>
    <div id ="userContainer">
        <div id="name">
            <h5>Hola @ViewBag.nombre !</h5>
        </div>
    </div>

      
    
</nav>


<div class="container">
     <div class="row">

        <div class="text-center mx-auto" class="col-md-12">
            <h1 class="font_services">Elige el módulo en el que deseas trabajar</h1>
        </div>
       
    </div><br>

    <div class="text-center mx-auto" class="col-md-6">
        <div>
            <form asp-controller="Turnos" asp-action="Index">
                <input value="SC" name="tipo" hidden>
                <a asp-controller="Turnos" asp-action="Index"><button type="submit" class="btn btn-lg btn-primary btn-block botonModulo">SOLICITUD DE CITAS   (@ViewBag.CantidadSC turnos)</button></a>

            </form>
            
        </div>
    </div><br>
        

       

    <div class="text-center mx-auto" class="col-md-6">
        <div>
            <form asp-controller="Turnos" asp-action="Index">
                <input value="PF" name="tipo" hidden>
                <a asp-controller="Turnos" asp-action="Index"><button type="submit" class="btn btn-lg btn-primary btn-block botonModulo">PAGO DE FACTURAS    (@ViewBag.CantidadPF turnos)</button></a>

            </form>
            
        </div>
    </div><br>

    <div class="text-center mx-auto" class="col-md-6">
        <form asp-controller="Turnos" asp-action="Index">
            <input value="AM" name="tipo" hidden>
            <a asp-controller="Turnos" asp-action="Index"><button type="submit" class="btn btn-lg btn-primary btn-block botonModulo">AUTORIZACION DE MEDICAMENTOS    (@ViewBag.CantidadAM turnos)</button></a>

        </form>
    </div><br>

    <div class="text-center mx-auto" class="col-md-6">
         <form asp-controller="Turnos" asp-action="Index">

                <input value="IG" name="tipo" hidden>
                <a asp-controller="Turnos" asp-action="Index"><button type="submit" class="btn btn-lg btn-primary btn-block botonModulo">IMFORMACION GENERAL     (@ViewBag.CantidadIG turnos)</button></a>

            </form>
        
    </div>
        
  
</div>
<div>
    @{
    if(ViewBag.CantidadSC>ViewBag.CantidadPF && ViewBag.CantidadSC>ViewBag.CantidadAM
       && ViewBag.CantidadSC>ViewBag.CantidadIG){

        <div id="mensaje"  role="alert">
            <p class=" p parpadea "><b>Creo que el módulo 1 necesita asistencia</b></p>
        </div>


    }else if(ViewBag.CantidadPF>ViewBag.CantidadSC && ViewBag.CantidadPF>ViewBag.CantidadAM
       && ViewBag.CantidadPF>ViewBag.CantidadIG){

        <div id="mensaje"  role="alert">
            <p class=" p parpadea "><b>Creo que el módulo 2 necesita asistencia</b></p>
        </div>


    }else if(ViewBag.CantidadAM>ViewBag.CantidadSC && ViewBag.CantidadAM>ViewBag.CantidadPF
       && ViewBag.CantidadAM>ViewBag.CantidadIG){

        <div id="mensaje"  role="alert">
            <p class="p parpadea"><b>Creo que el módulo 3 necesita asistencia</b></p>
        </div>


    }else if(ViewBag.CantidadIG>ViewBag.CantidadSC && ViewBag.CantidadIG>ViewBag.CantidadAM
       && ViewBag.CantidadIG>ViewBag.CantidadPF){

        <div id="mensaje"  role="alert">
            <p class="p parpadea"><b>Creo que el módulo 4 necesita asistencia</b></p>
        </div>


    }
}

</div>
</body>




